<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="easyui/themes/default/easyui.css">
		<link rel="stylesheet" type="text/css" href="easyui/themes/icon.css">

		<script type="text/javascript" src="easyui/jquery.min.js"></script>
		<script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
		<script type="text/javascript" src="easyui/locale/easyui-lang-zh_CN.js"></script>


	</head>
	<body>
	<script>
			var va={};
			$(function() {

				$('#dl').datagrid({
					url: '/wfe/fidMyHistLeave',
					method:'post',
					striped: true,
					rownumbers: true,
					pagination: true,
					fit: true,
					fitColumns: true,
					border: false,
					pageSize:2,
					pageList:[2,4,6,8,10],
					columns: [
						[{
								field: 'startDate',
								title: '开始日期',
								width: 250
							},{
								field: 'endDate',
								title: '结束日期',
								width: 250
							},{
								field: 'days',
								title: '请假天数',
								width: 200
							},{
								field: 'tpcd',
								title: '请假状态',
								width: 200,
								formatter: function(value,row,index){
								        var tpcd = row.processTpcd;
								        if (tpcd == 10){
								            return '申请中';
								        }else if (tpcd == 12){
								            return '申请成功';
								        }else if (tpcd == 14){
								            return '已拒绝';
								        }
                                }
							},{
								field: 'desc',
								title: '详情',
								width: 200,
								formatter: function(value,row,index){
								        var processInstId = row.processInstId;

								       // value = {row.processInstId:row};
								       va[processInstId] = row;
								        console.info(va);
								        //var r = "<a href=' javascript:void (0);' onclick='getHistAvyInfo(   row   );'>详情</a>";
                                        return "<a href=' javascript:void (0);' onclick='getHistAvyInfo(" + "\"" + processInstId + "\"" + ");'>详情</a>";
                                        //return "<a href=' javascript:void (0);' onclick='getHistAvyInfo("  + row +  ");'>详情</a>";
                                        return r;
                                }
							}
						]
					]
				});
			});

			function getHistAvyInfo(processInstId){
				var result = va[processInstId];
				console.info(va);
				//console.info($("#dl").datagrid('getPanel'));
				$("#dl").datagrid('getPanel').panel('minimize');
				$("#name").html(result.owner)
				$("#endDate").html(result.endDate)
				$("#table").show();
				var arr = result.subVoList;
				var str = "";
				$("#head").nextAll().remove();
				for(j = 0; j < arr.length; j++) {
					var doo="";
					if (arr[j].avyId == 1){
						doo = "申请";
					}else if(arr[j].decision == "1"){
						doo = "同意";
					}else{
						doo = "拒绝";
					}
					str += "<tr><th></th><th >" + arr[j].avyId + "</th><td>" + arr[j].executorName + "</td><td>" + doo + "</td><td>" + ((arr[j].decisionDesc==null)?(''):(arr[j].decisionDesc)) + "</td></tr>"
				}
				$("#head").after(str);
				str="";
			}
			function getBack(){

				$("#table").hide();
				$("#dl").datagrid('getPanel').panel('maximize');
				$("#dl").datagrid('getPanel').panel('restore');

			}
		</script>

		<div id="dl" ></div>

		<div id="table">
			<div>
				<span><h3>请假信息</h3></span>
			</div>
			<table style="margin: 0px;padding: 20px;width: 100%;border-spacing: 15px;background-color:#CCE6FF;text-align: left;font-size:16px;">
				<tr><th width="3%"></th><th width="30%">姓名</th><td><span id="name"></span></td></tr>
				<tr><th ></th><th>请假开始时间</th><td><span id="startDate"></span></td></tr>
				<tr><th></th><th>请假结束时间</th><td><span id="endDate"></span></td></tr>
				<tr><th ></th><th>请假天数</th><td><span id="days"></span></td></tr>
				<tr><th></th><th>请假原因</th><td><span id="description"></span></td></tr>
				<tr><th></th><th>影响的课程</th><td><span id="course"></span></td></tr>
			</table>
		<div>
				<span><h3>流程信息</h3></span>
			</div>
			<table style="margin: 0px;width: 100%;padding: 20px;border-spacing: 15px;background-color:#CCE6FF;text-align: left;font-size:16px;">
				<tr><th width="3%"></th><th width="20%">流程状态</th><th><span id="processTpcd"></span></th><th></th></tr>
			</table>
			<br/>
			<table id="info" style="margin: 0px;padding: 20px;width: 100%;border-spacing: 15px;background-color:#CCE6FF;text-align: left;font-size:16px;">
				<tr id="head"><th width="3%"></th><th width="20%">步骤</th><th width="20%">操作员</th><th  width="20%">操作</th><th>原因</th></tr>

			</table>
			<br/>
			<div style="margin: 15px;">
				<a href="javascript:void (0);" class="easyui-linkbutton" style="width:110px;height:40px;font-size:18px;" onClick="getBack()"><h3>返回</h3></a>
			</div>
		</div>
	</body>
</html>
