<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" th:href="@{easyui/themes/default/easyui.css}">
		<link rel="stylesheet" type="text/css" th:href="@{easyui/themes/icon.css}">


		<script type="text/javascript" th:src="@{easyui/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{easyui/jquery.easyui.min.js}"></script>
		<script type="text/javascript" th:src="@{easyui/locale/easyui-lang-zh_CN.js}"></script>
	</head>
	<body  style="margin: 12% auto auto 30%;">
	<table>
		<tr>
			<td><div><img style="width: 100%; height: 300px;" th:src="@{img/login001.gif}" /></div></td>
			<td>
		<div style="margin: 10px 0;"></div>
		<div id="p"  title="登录" style="width:400px;padding:30px 60px; margin: auto auto auto 60%;" >
			<form id="ff" method="post" action="/login">
				<div th:if="${param.logout != null}">
					<div>
						<p><font color="red">用户已注销成功！</font></p>
					</div>
				</div>
				<div style="margin-bottom:20px">
					<input class="easyui-textbox" name="name" style="width:100%" data-options="label:'账号:',required:true">
				</div>
				<div style="margin-bottom:20px">
					<input class="easyui-passwordbox" name="password" style="width:100%" lastDelay='5' data-options="label:'密码:',required:true,validType:'password'">
				</div>
				<!-- 验证码 -->
				<div style="margin-bottom:20px" hidden="true">
					<input class="easyui-textbox" name="message" style="width:100%;height:60px" data-options="label:'Message:',multiline:true" >
				</div>
				
			</form>
			<div style="text-align:center;padding:5px 0">
				<a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" style="width:80px">登录</a>
				<a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()" style="width:80px">清除</a>
			</div>
		</div></td>
		</tr>
	</table>
		
		  
	</body>
	<script th:inline="none">
		
			
		
			function submitForm(){
				$('#ff').submit();
			}
			function clearForm(){
				$('#ff').form('clear');
			}
			
		
	</script>

</html>
